.rollDice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dices {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.rollBtn {
  border: none;
  background-color: rgb(88, 1, 88);
  border-radius: 0.675rem;
  width: 15rem;
  padding: 1.5rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color ease 200ms;
}

.rollBtn:hover {
  background-color: rgb(63, 1, 63);
}

.diceNumber {
  display: flex;
  gap: 0.675rem;
}

.diceNumber button {
  width: 6rem;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  background-color: darkslateblue;
  color: white;
  cursor: pointer;
}

.diceNumber button:hover {
  background-color: rgb(52, 44, 100);
}
